
body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.main_board {
  display: inline-block;

}

.play_board {
  border: 3px;
  border-style: dashed;
  border-color: pink;
  height: 100px;
  width: 600px;
  padding: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}


#drag_Box{
  border: 3px;
  border-color: pink;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
}


#icon_Test{
}

 .icon_holder {
   display: flex;
   justify-content: center;
 }
