body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.main_board {
  display: inline-block;

}

.play_board {
  border: 3px;
  border-style: dashed;
  border-color: pink;
  height: 100px;
  width: 600px;
  padding: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}


#drag_Box{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
}


#icon_Test0{
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 50px;

}

#icon_Test0:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #7bc142;
  cursor: pointer;
}

#icon_Test1{
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 50px;

}

#icon_Test1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #7bc142;
  cursor: pointer;
}

#icon_Test2{
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 50px;

}

#icon_Test2:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #7bc142;
  cursor: pointer;
}

#icon_Test3{
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 50px;
}

#icon_Test3:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #7bc142;
  cursor: pointer;
}

#icon_Test4{
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 50px;

}

#icon_Test4:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #7bc142;
  cursor: pointer;
}

#icon_Test5{
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 50px;

}

#icon_Test5:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #7bc142;
  cursor: pointer;
}

#icon_Test6{
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 50px;

}

#icon_Test6:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #7bc142;
  cursor: pointer;
}

#icon_Test7{
  transition: .5s;
  box-shadow: 0 0 15px #00aeef;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 50px;

}

#icon_Test7:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #7bc142;
  cursor: pointer;
}







 .icon_holder {
   display: flex;
   justify-content: space-between;

 }
